html,body{
  height: 100%;
  width: 100%;
  background-color: #fff;
}
.container{
  position: relative;
  max-width: 1200px;
  margin: 0 auto;
  overflow: hidden;
}
.content{
  /* 顶部导航高度48px */
  padding-top: 88px;
}
h1,h2,h3,h4,h5,h6,p{
  margin: 0;
}

.flex-left{
  display: flex;
  justify-content: flex-start;
  align-items: center;
}

.flex-center{
  display: flex;
  justify-content: center;
  align-items: center;
}

.flex-right{
  display: flex;
  justify-content: flex-end;
  align-items: center;
}